Jira/.env
ai/docs/.temp/*
ai/trip_com/bronze_airticket/*
### Spring Boot Config ###
application.ymlbackend/dahaeng/.gradle-user-home/
backend/dahaeng/.gradle-home/

ai/google_flight/*
.idea/*
ai/silver/*
ai/spark_pipeline/*
ai/normalized/*
